html, body {
  margin: 0;
  padding: 0;

}


footer {
  width: 100vw;
  box-sizing: border-box;
  margin-left: calc(-50vw + 50%);
}

.footer-container {
  width: 100%;
  box-sizing: border-box;
}

.footer-container {
  background-color: #1a202c;
  color: #f7fafc;
  padding: 20px;
  text-align: center;
}

.footer-container a {
  color: #9f7aea;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
  transition: color 0.3s;
}

.footer-container a:hover {
  color: #d6bcfa;
}

.footer-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #cbd5e0;
}

.footer-container input[type="email"],
.footer-container select {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #e2e8f0;
  background-color: #fff;
}

.footer-container button[type="submit"] {
  padding: 8px 15px;
  background-color: #4a5568;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-container button[type="submit"]:hover {
  background-color: #2d3748;
}

@media (min-width: 768px) {
  .footer-container {
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .footer-container > div {
    flex: 1;
    margin: 10px;
  }
}
