body {
  margin: 0;
  padding: 0;
}

/* Full-width Navbar */
.navbar {
  background-color: #1a202c; /* Dark background to match footer */
  color: #f7fafc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
    width: 100vw; /* full viewport width */
    box-sizing: border-box; /* include padding and border in the width */
    margin-left: calc(-50vw + 50%); /* centering if there's a default page margin */
}
/* Set the container width to 100% of viewport width */
.navbar .container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.navbar .navbar-brand {
  max-width: 500px; /* Adjust the max width as needed */
  display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-brand img {
  max-width: 90%; /* Make the image width 100% of its container */
  height: auto;   /* Automatically adjust the height to maintain aspect ratio */
}

.navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar .navbar-toggler-icon {
  /* Add styles if you have a custom icon */
}

.navbar .navbar-nav,
.navbar .allitems {
  display: flex;
  align-items: center; /* Align items vertically center */
}

.navbar .collapse.navbar-collapse {
  justify-content: flex-end; /* Align items to the right */
}

.navbar .nav-item {
  margin: 0 0.75rem; /* Uniform spacing around nav links */
}

.navbar .nav-link {
  color: #f7fafc; /* Light color for contrast against dark background */
  text-decoration: none; /* Remove underline from links */
  transition: color 0.3s ease-in-out;
}

.navbar .nav-link:hover {
  color: #d6bcfa; /* Lighter shade for hover, similar to footer */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .navbar .navbar-nav {
    flex-direction: column; /* Stack the nav items vertically */
  }

  .navbar .nav-item {
    margin: 0.5rem 0; /* More vertical space between items */
  }

  .navbar .navbar-toggler {
    border: none;
  }

  .navbar .navbar-toggler-icon {
    /* Additional styles for mobile toggle icon, if necessary */
  }
}
