body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #8254f9;
  color: #f7fafc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
    width: 100vw;
    box-sizing: border-box;
    margin-left: calc(-50vw + 50%);
}
.navbar .container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.navbar .navbar-brand {
  max-width: 500px;
  display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-brand img {
  max-width: 90%;
  height: auto;
}

.navbar .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}



.navbar .navbar-nav,
.navbar .allitems {
  display: flex;
  align-items: center;
}

.navbar .collapse.navbar-collapse {
  justify-content: flex-end;
}

.navbar .nav-item {
  margin: 0 0.75rem;
}

.navbar .nav-link {
  color: #f7fafc;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.navbar .nav-link:hover {
  color: #d6bcfa;
}

@media (max-width: 768px) {
  .navbar .navbar-nav {
    flex-direction: column;
  }

  .navbar .nav-item {
    margin: 0.5rem 0;
  }

  .navbar .navbar-toggler {
    border: none;
  }
 }
