.book-details {
  display: flex;
  align-items: flex-start;
  max-width: 1500px; /* Adjust the width as needed */
  margin: 20px 0; /* Top and bottom margin */
  padding: 20px;
  gap: 10px; /* Maintain the gap between image and text */
}

.book-details .col-lg-3 {
  flex: 0 0 35%; /* Increase the flex-basis percentage for a larger image */
  max-width: 35%; /* You can also set a max-width here if needed */
}

.book-details .col-lg-10 {
  flex: 0 0 65%; /* Decrease the flex-basis percentage for text accordingly */
  max-width: 65%;
}

.book-details img {
  width: 100%; /* Make the image take up the full width of its container */
  height: auto; /* Keep the height auto to maintain aspect ratio */
  border-radius: 4px;
}

.book-details h2 {
  color: #333;
  font-size: 24px; /* Adjust the size as needed */
  margin: 0;
}

.book-details p {
  color: #555;
  line-height: 1.6;
  margin: 10px 0;
}

.book-details .price {
  color: #28a745;
  font-weight: 700;
  font-size: 18px; /* Adjust the size as needed */
}

.book-details .description {
  transition: max-height 0.3s ease, padding 0.3s ease;
  max-height: 72px; /* Adjust based on your font-size and line-height */
  overflow: hidden;
}

.book-details .description.expanded {
  max-height: none;
}

button {
  background-color: #6c5ce7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

button:hover {
  background-color: #00376b;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

button.toggle-description {
  background: none;
  color: #0056b3;
  border: none;
  padding: 0;
  margin: 10px 0;
}

button.toggle-description:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .book-details {
    flex-direction: column;
    align-items: center;
  }

  .book-details .col-lg-3,
  .book-details .col-lg-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .book-details img {
    max-width: 80%;
    max-height: none;
  }
}
