.books-list-container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
}

.filter-column {
    flex: 1; 
    padding: 20px;
}

.books-column {
    flex: 7; 
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}


@media (max-width: 768px) {
    .books-list-container {
        flex-direction: column;
    }

    .books-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
