.display-booklist-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

.booklists-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0 20px;
}

.list-entry {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  min-height: 200px;
}


.list-entry-info h3,
.list-entry-info p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.list-entry:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.list-entry-info {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.details-button {
  width: 100%;
  padding: 10px 0;
  border: none;
  background-color: #2a9d8f;
  color: white;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.details-button:hover {
  background-color: #21867a;
}
