<<<<<<< HEAD
form {
    margin-bottom: 20px;
}

form input[type="text"] {
    margin-right: 10px;
    padding: 5px;
}

form button {
    padding: 5px 10px;
}

form div {
    margin-top: 10px;
}

.book-details{
    height: 100vh;
}

.book-item .price {
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.image-container{
    height: 60%;
    display: flex;
    justify-content: center;
}
img{
    max-height: 100%;
}

.book-title{
    height: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.book-title h3{
    font-size: large;
}

.book-info{
    height: 15%;
    padding-bottom: 180px;
    text-align: center;
}

.button.active {
    background-color: #007bff;
    color: white;
}

/* Add this style to your BooksList.css or any relevant CSS file */
.books-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Add margin to separate it from the book grid */
}
  
.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}
  
.pagination button.active {
    background-color: #007bff;
    color: white;
}
  
=======
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #f7944d);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}
>>>>>>> Google-login
